.main-registerfrom{
    padding-top: 25px;
}

.main-required{
    color: red;
}
/* .main-registerDiv{

    max-height: 150vh;
} */

.ml-2{
    margin-top: -21px;
    padding-left: 19px;
}

.main-register-from-error-alert{
    color: #a53131;
}

.main-register-form-style{
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-register-form-text{

    color: #FFFFFF;
}



