@media only screen and (max-width: 767px) {
    .mob-vh-100-login {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .login-bg-img-col {
        width: 100%;
        padding: 0;
    }
    .authincation-content {
        padding: 15px;
    }

    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
    }

}

@media only screen and (max-width: 321px) {
    .auth-form img
    {
      width: 250px;
    }
  }

