/*=====================================
YOU CAN WRIGHT CUSTOME CSS
======================================*/


.main-bar-marging{
    margin-top: -10px;
}


.up-down-animation{
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
  }

  .up-down-animation{
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100px);
    }
}


.site-button2{
    background-color: rgb(255, 152, 0);
}



/* Styles for screens with a maximum width of 900px */
@media (max-width: 900px) {
    .mob-m{
        margin-top:-55px !important;
    }

    .mob-mb-10{
        margin-bottom: 10px;
    }

    .mob-ptb-20{
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .mob-p-b30{
        padding-bottom: 30px;
    }

    .mob-p-b20{
        padding-bottom: 20px;
    }













  }
