#hiw ul,
#hiw ol {
    list-style: none;
}

#hiw .lead {
    font-size: 1.5rem;
    font-weight: 300;
}

#hiw #nav-serialscrolling .sub-link {
    position: relative;
    display: block;
    padding: 10px 0px 10px 20px;
    cursor: pointer;
    opacity: 0.5;
    transition: 300ms;
    color: white;
}

#hiw #nav-serialscrolling .sub-link:hover,
#hiw #nav-serialscrolling .sub-link.is-current {
    opacity: 1;
    font-size: 22px;
}

#hiw #nav-serialscrolling .sub-link:before,
#hiw #nav-serialscrolling .sub-link:after {
    /* content: ""; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    transition: 300ms;
}

#hiw #nav-serialscrolling .sub-link:before {
    left: -30px;
    content: counter(item);
    text-align: center;
    width: 40px;
    height: 40px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    padding: 2px;
}

#hiw #nav-serialscrolling .sub-link:after {
    left: -23px;
    width: 5px;
    height: 5px;
    background-color: #b41c28;
    opacity: 0;
}

#hiw #nav-serialscrolling .sub-link.is-current:before {
    border-color: #fd961a;
}

#hiw #nav-serialscrolling .sub-link.is-current:after {
    opacity: 1;
    background-color: "";
}

#hiw .fixed-cat-bar {
    position: fixed;
    top: 72px;
    left: 119px;
    z-index: 2;
}

#hiw li {
    counter-increment: item;
    margin-bottom: 5px;
}

#hiw .ul-count {
    font-size: 15px;
    margin-left: -18.1px;
    color: #fd961a;
    font-weight: 100;
    margin-top: 11px;
}

.hr-1 {
    padding: 0px;
    margin: 0px;
    border: 0;
    visibility: hidden;
}

.hiw-img{
    width: 300px;
    float: right;
    padding: 10px;
}

@media screen and (max-width: 767px) {
    #hiw ul > li {
        display: inline-block; 
    }

    #hiw .htext{
        display: none; 
    }

    #hiw .ul-count {
        display: none;
    }

    #hiw li span {
        display: none;
    }

    #hiw li .rigth-arrow {
        padding-right: 32px;
    }
    #hiw li #lasat-arrow {
        visibility: hidden;
    }
}

@media screen and (min-width: 767px) {
    #hiw li .rigth-arrow {
        display: none;
    }
}

#hiw h1 {
    color: #fd961a;
    margin-top: 0px;
}
