#hiw ul,
#hiw ol {
    list-style: none;
}

#hiw .lead {
    font-size: 1.5rem;
    font-weight: 300;
}

/* #hiw .container {
    margin: 150px auto;
    max-width: 960px;
} */

/* Demo styles */
/* #hiw #nav-serialscrolling {
  position: sticky;
  top: 50%;
  left: 50px;
  width: 250px;
  margin-left: -250px;
  float: left;
} */
#hiw #nav-serialscrolling .sub-link {
    position: relative;
    display: block;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    opacity: 0.5;
    transition: 300ms;
}

#hiw #nav-serialscrolling .sub-link:hover,
#hiw #nav-serialscrolling .sub-link.is-current {
    opacity: 1;
    font-size: 22px
}

#hiw #nav-serialscrolling .sub-link:before,
#hiw #nav-serialscrolling .sub-link:after {
    /* content: ""; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    transition: 300ms;

}

#hiw #nav-serialscrolling .sub-link:before {
    left: -30px;
    content: counter(item);
    text-align: center;
    width: 40px;
    height: 40px;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

#hiw #nav-serialscrolling .sub-link:after {
    left: -23px;
    width: 5px;
    height: 5px;
    background-color: #b41c28;
    opacity: 0;
}

#hiw #nav-serialscrolling .sub-link.is-current:before {
    border-color: #FD961A;
}

#hiw #nav-serialscrolling .sub-link.is-current:after {
    opacity: 1;
    background-color: '';
}

[data-serialscrolling-target] {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #2421200d;
    color: white;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    flex-direction: column;

}


#hiw .fixed-cat-bar {
    position: fixed;
    top: 60px;
    left: 105px;
    /* width: 200px; */
}



/* #hiw ol {
    list-style: none;
    counter-reset: item;
  } */
#hiw li {
    counter-increment: item;
    margin-bottom: 5px;
}

#hiw .ul-count {
    font-size: 36px;
    margin-left: -27.1px;
    color: #FD961A
}


@media screen and (max-width: 600px) {
    ul>li {
        display: inline-block;

    }

    #hiw .ul-count {
        display: none;
    }

    #hiw li span {
        display: none
    }

    #hiw li .rigth-arrow {
        padding-right: 20px;
    }
    #hiw li  #lasat-arrow{
        visibility: hidden;
    }
}

@media screen and (min-width: 600px) {
    #hiw li .rigth-arrow {
        display: none
    }
}

#hiw h1 {
    color: #FD961A;
}

#hiw .frist-div{
    /* margin-top:-250px; */
}
