.coin-slider{

    background: #640a39;
        top: -50px ;

    .row.top{
        padding: 30px 0 30px;
    }

}

.faq{

    padding:100px 0 100px !important;
    .container h3{
        padding: 10px;
        color: wheat;
    }

    .btn-link:hover{
        color: purple;
        text-decoration: none;
    }

    .faq-main{
        padding-top:20px;
    }

    .btn-link{
        color:#141516;
    }
}



.fixed-cat-bar{
    position:fixed;
    top:112px;
    width:285px;
}

.slider-txt-top{
    top:-50px
}

.project-img{
    border-radius:20px;
}


.stf-bc{
    background: url(../images/sf/bg-sf.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.stf-bc-net{
    background: url(../images/sf/net-sf.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
