
.payout-container {
}

.plans {

}

.plans .plan input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.plans .plan {
    cursor: pointer;
}

.plans .plan .plan-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #e1e2e7;
    border-radius: 0;
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
    position: relative;
    align-items: center;
}

.plans .plan .plan-content img {
    margin-right: 30px;
    /* height: 72px; */
    width: 30px;
    /* display: none !important; */
}

.plans .plan .plan-details span {
    /* margin-bottom: 10px; */
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.container .title {
    font-size: 20px;
    font-weight: 500;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    color: #252f42;
    margin-bottom: 20px;
}


.plans .plan .plan-details p {
    color: #646a79;
    font-size: 14px;
    line-height: 18px;
}

.plans .plan .plan-content:hover {
    /* -webkit-box-shadow: 0px 3px 5px 0px #e8e8e8; */
    box-shadow: 1px 1px 2px 0px #a894dd;
}

.plans .plan input[type="radio"]:checked + .plan-content:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background: #216fe0;
    right: 20px;
    top: 38px;
    border-radius: 100%;
    border: 3px solid #fff;
    -webkit-box-shadow: 0px 0 0px 2px #0066ff;
    box-shadow: 0px 0px 0px 2px #0066ff;
}

.plans .plan input[type="radio"]:checked + .plan-content {
    border: 2px solid #216ee0;
    background: #2a0787;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

@media screen and (max-width: 991px) {
    .plans {
        margin: 0 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 40px;
    }

    .plans .plan {
        width: 100%;
    }

    .plan.complete-plan {
        margin-top: 20px;
    }

    .plans .plan .plan-content .plan-details {
        width: 70%;
        display: inline-block;
    }

    .plans .plan input[type="radio"]:checked + .plan-content:after {
        top: 45%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
}

@media screen and (max-width: 767px) {
    .plans .plan .plan-content .plan-details {
        width: 60%;
        display: inline-block;
    }
}

@media screen and (max-width: 540px) {
    .plans .plan .plan-content img {
        margin-bottom: 20px;
        height: 56px;
        -webkit-transition: height 0.4s;
        -o-transition: height 0.4s;
        transition: height 0.4s;
    }

    .plans .plan input[type="radio"]:checked + .plan-content:after {
        top: 20px;
        right: 10px;
    }

    .plans .plan .plan-content .plan-details {
        width: 100%;
    }

    .plans .plan .plan-content {
        padding: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
}

