.card1 {

    background-image: linear-gradient(163deg, #fd961a 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}

.card2 {

    background-color: #1a1a1a;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card1:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.package-body {
    /* background-image: url('../../images/logo/logo.png'); */
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
}

.package-body b {
    color: black
}

.card-currency {
    color: black
}

.icon-green {
    color: green;

}






/* //////////////////////// Genealogy CSS ////////////////////////////////// */

.genealogy .card {
    width: 186px;
    height: 208px;
    background: #343434;;
    overflow: visible;
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genealogy .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0em;
    padding: 0 1rem;
    margin-top: -17px
}

.genealogy .card-img {
    --size: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: #42caff;
    background: linear-gradient(to bottom, #42caff 0%, #e81aff 100%);
    position: relative;
    transition: all .3s ease-in-out;
    margin-top: 62px;
}


.genealogy .card-img::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border: 1rem solid #1fa6ff;
}

/*Text*/
.genealogy .text-title {
    word-break: break-all;
    text-transform: uppercase;
    margin-top: -18px;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
}

.genealogy .text-body-name {
    font-size: 1em;
    text-align: center;
    color: #A098AE;
    font-weight: 500;
    font-style: italic;
    margin-top: -14px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;

}

.genealogy .text-body {
    margin-top: -18px;
}

.genealogy .img-center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.genealogy .card {
    /* border: 2px solid white; */
    height: max-content;
    border-radius: 0px;
}

.swiper {
    overflow: visible !important;
    margin-top: -5px;
}

#swiper-pagination-set {
    bottom: -10px;

}


.g-icon{
    padding-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .dv {
        display: none;
    }

    .genealogy .card {
        width: 100%;
    }

    .mobile-margine {
        margin-top: 45px;
    }

    .tree ul {
        display: '';
    }

    .genealogy-scrooling {
        overflow-x: auto;
    }

    .genealogy-scrooling::-webkit-scrollbar {
        height: 10px;
    }

    .head-arrow {
        margin-left: 715px;
    }





    .genealogy .card {
        width: max-content !important;
    }



}


@media screen and (min-width: 768px) {
    .mbv {
        display: none;
    }

    .tree ul {
        display: flex;
    }

}

.arrow-margin {
    margin-bottom: 50px;
}


.genealogy .card-active {
    border: 2px solid #db980b !important;
}


.genealogy .card-img2 {
    --size: 100px;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: #42caff;
    background: linear-gradient(to bottom, #42caff 0%, #e81aff 100%);
    position: relative;
    transition: all .3s ease-in-out;
    margin-top: 50px;
    object-fit: cover;

}
